/*INDEX.HTML*/
.navbar {
	background-color: rgba(0, 0, 0, 0.71);
    margin-top: -0.3%;
    width: 100%;
    z-index: 100;
    border: none;
}

.links {
	color: white;
	font-size: .7vw;
    padding-right: 5%;
}

.links1 {
	background-color: red;
}

.links2 {
	background-color: black;
}

.navbar .ul1> li > a {
	color: white;
}

.navbar .ul1> li >a:hover {
	color: red;
	background-color: black;
}

.logo {
    width: 51%;
    margin-top: -6%;
    float: right;
    margin-right: -150%;
}

.car {
    margin-top: -7%;
    position: absolute;
    z-index: 10;
}

.carTitle {
    font-size: 2vw;
    color: #014F95;
    text-align: left;
}

.description {
    font-size: .7vw;
    color: black;
    width: 61%;
    text-align: left;
}

.caption {
    width: 30%;
    margin-top: -27.7%;
    margin-bottom: 9%;
    margin-left: 6%;
    position: relative;
}

.carBut {
    background-color: red;
    border: none;
    border-radius: 0;
    text-align: left;
    width: 26%;
    font-size: 0.7vw;
    margin-left: -75%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    padding-left: 4.7%;
}

.carBut:hover {
	background-color: black;
}

/*END OF INDEX.HTML*/
/*GALLERY.HTML*/

.galleryPics {
	width: 12.6%;
	margin-right: -0.5%;
}

.galleryPics:hover {
	background-color: blue;
}
.gallbar {
	width: 100%;
    margin-top: -2.4%;
}

.h1gallery {
	font-size: 1.5vw;
    color: white;
    margin-top: -6.4%;
    z-index: 10000;
    position: relative;
    text-align: center;
}

.galleryButton {
	background-color: black;
    color: white;
    border: none;
    font-size: 0.6vw;
    padding-top: 0.7%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.galleryButton:hover {
	background-color: red;
}

.galleryButton:target {
	background-color: red;
}

.buttonDiv {
	text-align: center;
	margin-bottom: 1.1%;
}

.bottomCar {
	width: 100%;
    margin-top: -30.5%;
}

footer {
	background-color: black;
    color: white;
    margin-top: 2%;
}

.standardsDiv {
	width: 67%;
    margin-left: 23%;
    position: relative;
    margin-bottom: 0%;
    background-color: grey;
    border: 2px solid black;
    padding-right: 2%;
    PADDING-BOTTOM: 28%;
    MARGIN-BOTTOM: 3%;
}

.standardsLinks {
    display: inline-block;
    width: 30%;
    float: left;
    background-color: white;
}

.standardLink {
	font-size: 0.9vw;
    text-decoration: none;
    line-height: 300%;
}


.standardsLink:hover {
	color: blue;
	background-color: grey;
}

.infoDiv {
    display: inline-block;
    float: left;
    width: 70%;
    background-color: grey;
}

td {
	font-size: 1vw;
}







.footh5 {
    font-size: 0.5vw;
    padding-top: 0.5%;
    padding-bottom: .5%;
    margin-top: -2%;
    margin-left: 59%;
}
/*END OF GALLERY.HTML*/
/*BUILD.HTML*/
.navnav {
	background-color: white;
}

.navnav .nav> li > a {
	color: black;
}

.navnav .nav> li > a:hover {
	color: red;
}

.ul1 {
    margin-left: 26.2%;
    position: relative;
}

.ul2 {
	margin-left: 19%;
}

.butDiv {
    float: right;
    margin-top: -5%;
    margin-right: 18%;
}

.buildLink {
	font-size: .7vw;
	margin-left: -20%;
	color: black;
}

.buildButton1 {
    background-color: red;
    color: white;
    font-size: 0.7vw;
    border: none;
}

.buildButton1:hover {
	background-color: grey;
}

.buildButton2 {
    background-color: black;
    color: white;
    font-size: 0.7vw;
    border: none;
}

.buildButton2:hover {
	background-color: grey;
}

.buildPhoto {
    width: 100%;
    margin-top: -2.1%;
}

.container1 {
    width: 52%;
    margin-top: -27%;
    margin-left: 7%;
    position: relative;
}

.blueDiv {
    width: 53.7%;
    margin-top: -28.2%;
}

.buildCarTitle {
    font-size: 1.3vw;
    color: white;
    margin-left: 39%;
    margin-top: 3%;
}

.buildCarTitle2 {
    font-size: 1vw;
    color: white;
    margin-left: 39%;
}

.buildDescription {
    color: white;
    font-size: 0.8vw;
    text-align: left;
    margin-left: 39%;
    width: 30%;
}

.downbut {
	background-color: red;
    color: white;
    border: none;
    font-size: 0.6vw;
    margin-left: 39%;
    padding-top: 0.7%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.downbut:hover {
	background-color: black;
	color: red;
}
/*END OF BUILD.HTML*/
